<form action="edit" method="post">
  <label for="file_edit">Edit content of <%= @file_name %>:</label>
  <textarea id="file_edit" name="file_edit" rows=20 cols=80><%= @file_content %></textarea>
  <input type="submit" value="Save Changes">
</form>
