<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'>
    <title>CMS</title>
  </head>
  <body>
    <% if session[:error] %>
      <p><%= session.delete(:error) %></p>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
